Source: coldmotd
Section: misc
Priority: extra
Maintainer: Olivier Delort <courriel@olivierdelort.net>
Build-Depends: debhelper (>= 5.0.0)
Standards-Version: 1.7
Homepage: http://wiki-colmaris.olivierdelort.net

Package: coldmotd
Architecture: all
Depends: lsb-release
Description: Configuration for the message of the day colmaris's server.
